*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #b9cbed;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(13, 13, 13);
    font-weight: bold;
}

nav ul li a:hover{
    color: blue;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: mediumblue;
}

.detel p{
    color: rgb(5, 1, 1);
    line-height: 22px;
}

.detel a{
    background: #0a0a0a;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #0a0a0a;
}
.holdingcontainer{
    width: 100%;
    display: flex;
    background: #080808;
    padding: 50px;
    box-sizing: border-box;
    flex-direction: row;
}

.internalcontainerL{
    flex: 1;
    background: rgb(245, 244, 243);
    padding: 30px;
    font-size: 16px;
    font-family: 'Roboto' , sans-serif;
    margin: 3px;
}

.internalcontainerM{
    flex: 1;
    background: rgb(251, 250, 251);
    padding: 30px;
    font-size: 16px;
    font-family: 'Roboto' , sans-serif;
    margin: 3px;
}

.internalcontainerR{
    flex: 1;
    background: rgb(246, 250, 250);
    padding: 30px;
    font-size: 16px;
    font-family: 'Roboto' , sans-serif;
    margin: 3px;
}

@media screen and (max-width: 768px){.holdingcontainer{
    flex-direction: column-reverse;
}